extends layout

block content
  div.container
    div.content
      div.page-header
        h1 #{title}
      div.row
        div.span8
          p Appointment scheduler
        div.span4
          form.form-signin
            h2.form-signin-heading Please sign in
            input.input-block-level(type='text',placeholder='Email address')
            input.input-block-level(type='password',placeholder='Password')
            button.btn.btn-primary(type='submit') Sign in
            | &nbsp;or 
            a(href='/register') register as a new user
    div.footer
      p &copy; 2012