!!! 5
html(ng-app="appointsApp")
  head
    title(ng-bind-template="Appoints - {{pageTitle}}")
    != css('style')
    != js('lib/jquery')
  body.appoints-application
    div(ng-include, src="'/partials/navbar.html'")

    div.container(globalevents)
      div(ng-include, src="'/partials/flash.html'")          
      div.content
        ng-view

      div.footer
        p &copy; 2012-2013

    != js('all')
    != js('lib/i18n/angular-locale_' + i18n.lng().toLowerCase())
