<div ng-init="$root.pageTitle='Login'">
  <section ng-controller="AccountController">
    <div class="row">
      <div ng-show="FormErrors" class="alert alert-error">
        <ul>
          <li ng-repeat="msg in ErrMsgs" ng-bind-html-unsafe="msg"></li>
        </ul>
      </div>
      <div class="span6">
        <header>
          <h4>To get started, login with one of your existing accounts</h4>
        </header>
        <ul class="inline">
          <li ng-repeat="p in authProviders">
            <button ng-click="authenticate(p)" class="btn"><img ng-src="/img/auth/{{p}}.png"/></button>
          </li>
        </ul>
      </div>
      <div class="span6">
        <header>
          <h4>Or login with you local account</h4>
        </header>
        <div class="password-form form-horizontal">
          <form nonvalidate name="form" class="form">
            <fieldset>
              <div class="control-group">
                <label for="email" class="control-label"><strong>Email</strong></label>
                <div class="controls">
                  <input id="email" required ng-model="user.email" type="email" name="email"/><span ng-hide="form.email.$invalid" class="help-inline"><i class="icon-ok"></i></span>
                </div>
              </div>
              <div class="control-group">
                <label for="password" class="control-label"><strong>Password</strong></label>
                <div class="controls">
                  <input id="password" required pattern=".{6,31}" ng-model="user.password" type="password" name="password"/>
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" ng-click="login(user)" ng-disabled="form.$invalid || WaitText" value="{{WaitText || 'Login'}}" class="btn btn-success"/>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>  
</div>